.section {
  &__weekend {
    background-image: url("../img/weekend/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
}
.weekend {
  &__container {
    max-width: 1110px;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  &__body {
    display: flex;
    width: 100%;
  }
  &__content {
    text-align: center;
  }

  &__discount {
    font-family: "Dosis";
    font-style: normal;
    font-weight: 800;
    font-size: 90px;
    letter-spacing: 0.045em;
    color: #f3b705;
    opacity: 0.5;
    @include lg {
      font-size: 60px;
    }
    @include xs {
      font-size: 50px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 133.5%;
    text-align: center;
    letter-spacing: 0.045em;
    @include lg {
      font-size: 45px;
    }
    @include md {
      font-size: 40px;
    }
    @include xs {
      font-size: 35px;
    }
  }

  &__subtitle {
    max-width: 390px;
    font-family: "Mukta";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 172.68%;
    text-align: center;
    letter-spacing: 0.045em;
    color: #335e74;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    @include xs {
      line-height: 130%;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }
}
